<h1>Popular Songs</h1>
<div class="horizontal-scroll">
    <div class="w3-card-4">
        <img src="./assets/image/song5.jpg" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Take Me To The Pilot</p>
        </div>
    </div>
    <div class="w3-card-4">
        <img src="./assets/image/song1.jpg" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Searching Soundtrack</p>
        </div>
    </div>
    <div class="w3-card-4">
        <img src="./assets/image/song2.jpg" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Mann Bharryaa</p>
        </div>
    </div>
    <div class="w3-card-4">
        <img src="./assets/image/song3.jpg" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Severance Soundtrack</p>
        </div>
    </div>
    <div class="w3-card-4">
        <img src="./assets/image/song8.jpg" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Lost April</p>
        </div>
    </div>
    <div class="w3-card-4">
        <img src="./assets/image/song6.jpg" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Help!</p>
        </div>
    </div>
    <div class="w3-card-4">
        <img src="./assets/image/song7.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Blinding Lights</p>
        </div>
    </div>
</div>


<h1>Recent Songs</h1>
<div class="horizontal-scroll">
    <div class="w3-card-4">
        <img src="./assets/image/song7.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Blinding Lights</p>
        </div>
    </div>
    <div class="w3-card-4">
        <img src="./assets/image/audio.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Sample Song Title</p>
        </div>
    </div>
    <div class="w3-card-4">
        <img src="./assets/image/audio.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Sample Song Title</p>
        </div>
    </div>
    <div class="w3-card-4">
        <img src="./assets/image/audio.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Sample Song Title</p>
        </div>
    </div>
    <div class="w3-card-4">
        <img src="./assets/image/audio.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Sample Song Title</p>
        </div>
    </div>
    <div class="w3-card-4">
        <img src="./assets/image/audio.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Sample Song Title</p>
        </div>
    </div>
    <div class="w3-card-4">
        <img src="./assets/image/audio.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Sample Song Title</p>
        </div>
    </div>
</div>


<h1>Trending Songs</h1>
<div class="horizontal-scroll">
    <div class="w3-card-4">
        <img src="./assets/image/audio.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Sample Song Title</p>
        </div>
    </div>
    <div class="w3-card-4">
        <img src="./assets/image/audio.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Sample Song Title</p>
        </div>
    </div>
    <div class="w3-card-4">
        <img src="./assets/image/audio.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Sample Song Title</p>
        </div>
    </div>
    <div class="w3-card-4">
        <img src="./assets/image/audio.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Sample Song Title</p>
        </div>
    </div>
    <div class="w3-card-4">
        <img src="./assets/image/audio.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Sample Song Title</p>
        </div>
    </div>
    <div class="w3-card-4">
        <img src="./assets/image/audio.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Sample Song Title</p>
        </div>
    </div>
    <div class="w3-card-4">
        <img src="./assets/image/audio.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
            <p>Sample Song Title</p>
        </div>
    </div>
</div>
